/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [id]
      ,[kayitNo]
      ,[kitapAdi]
      ,[yazarAdi]
	  ,[yayinevi]
      ,[basimYili]
      ,[sayfaSayisi]
      ,[tur]
      ,[aciklama]
      ,[dolap]
      ,[raf]
      ,[sira]
      ,[aktif]
  FROM [KOSDb].[dbo].[kitaplar]